@charset "utf-8";
.body {
	width: 100%; 
	height: 100%; 
	background: #f5f7fa; 
	padding: 40px 0; 
	box-sizing: border-box; 
	font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'; 
	color: #51565d; 
	position: relative;
}

.calendar-container {
	width: 90%;
	margin: auto;
	overflow: hidden;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background: #fff;
	max-width: 1200px;
}

.calendar-header {
	text-align: center;
	padding: 20px 0;
	background: linear-gradient(to bottom, rgba(250, 251, 253,1) ,rgba(255,255,255,0.2));
	border-bottom: 1px solid rgba(166, 168, 179, 0.12);
}

h1 {
	margin: 0; 
	font-size: 18px;
}

em {
	margin: 5px 0 0 0; 
	font-size: 13px; 
	font-weight: 600; 
	color: rgba(#51565d, .4);
}
.calendar {
	display: grid; 
	width: 100%; 
	grid-template-columns: repeat(7, minmax(120px, 1fr)); 
	grid-template-rows: 50px; 
	grid-auto-rows: 120px; 
	overflow: auto;
}

.day-name {
	font-size: 12px; 
	text-transform: uppercase; 
	color: #99a1a7; 
	text-align: center; 
	border-bottom: 1px solid rgba(166, 168, 179, 0.12); 
	line-height: 50px; 
	font-weight: 500;
}
.day--disabled {
	border-bottom: 1px solid rgba(166, 168, 179, 0.12); 
	border-right: 1px solid rgba(166, 168, 179, 0.12); 
	text-align: right; 
	padding: 14px 20px; 
	letter-spacing: 1px; font-size: 12px; 
	box-sizing: border-box; color: rgba(#98a0a6, 0.6); 
	position: relative; 
	
	pointer-events: none; 
	z-index: 1; background-image: repeating-linear-gradient(-45deg,
  #F9F9FA,
  #F9F9FA 10px,
  #ffffff 10px,
  #ffffff 20px); 
	cursor: not-allowed;
}
.day {
	border-bottom: 1px solid rgba(166, 168, 179, 0.12); 
	border-right: 1px solid rgba(166, 168, 179, 0.12); 
	text-align: right; 
	padding: 14px 20px; 
	letter-spacing: 1px; 
	font-size: 12px; 
	box-sizing: border-box; 
	color: #98a0a6; 
	position: relative; 
	pointer-events: none; 
	z-index: 1;
}
.class--bar {
	border-left-width: 3px; 
	padding: 8px 12px; 
	margin: 10px; 
	border-left-style: solid; 
	font-size: 14px; 
	position: relative; 
	border-left-color: #916B4D; 
	background: #EAD099; 
	align-self: center; 
	color: #916B4D; 
	margin-top: -5px;
}
.task__detail {
	position: absolute; 
	width: 750px; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	background: #fff; 
	border: 1px solid rgba(166, 168, 179, 0.2); 
	color: #000; 
	padding: 10px; 
	box-sizing: border-box; 
	border-radius: 4px; 
	box-shadow: 0 10px 40px rgba(1,16,43,0.70);  
	z-index: 2;
}
.task__header {
	width: 95%; 
	display: table-cell; 
	background: #BFE9EB; 
	text-align: center; 
	padding: 5px 0; 
	border-radius: 4px;
}
h3 {
	margin: 0; 
	font-size: 16px; 
	color: rgba(0,0,0,0.5);
}
.task__chapter {
	font-size: 14px; 
	font-weight: 500;
}
.task__list {
	margin-top: 0px; 
	font-size: 14px; 
	margin-bottom: 5px; 
	font-weight: 500; 
	color: rgba(81,86,93,0.7);
}
li {
	font-size: 14px;
	color: rgba(81,86,93,0.7);
}
.assignment--bar {
	border-left-width: 3px; 
	padding: 4px 4px; 
	margin: 10px; 
	border-left-style: solid; 
	font-size: 12px; position: relative; 
	background: #916B4D; 
	border: 0; 
	border-radius: 4px; 
	align-self: end; 
	color: #fff; 
	box-shadow: 0 10px 14px rgba(71,134,255,0.4);
}
.assignment__detail {
	position: absolute;
	left: 0;
	background: #fff; 
	border: 1px solid rgba(166, 168, 179, 0.2); 
	color: #000; 
	padding: 10px; 
	box-sizing: border-box; 
	border-radius: 4px; 
	box-shadow: 0 10px 40px rgba(0,0,0,0.08); 
	z-index: 2;
}
.assignment__text {
	margin-top: 0px;  
	margin-bottom: 0; 
	font-weight: 500; 
	color: rgba(81,86,93,0.7);
}